@model UsuarioModel
@using CadastroContatos.Enums
@{
    ViewData["Title"] = "Cadastrar Usuários";
}

<div class="text-center">
    <br>
    <h2>Cadastrar usuário</h2>
    <br />
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<form asp-controller="Usuario" asp-action="Criar" method="post">
    <center>
        <div class="form-group" style="width: 300px; text-align: left">
            <label for="nome">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome">
            @Html.ValidationMessageFor(x => x.Nome)
        </div>
        <div class="form-group" style="width: 300px; text-align: left">
            <label for="login">Login</label>
            <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login">
            @Html.ValidationMessageFor(x => x.Login)
        </div>
        <div class="form-group" style="width: 300px; text-align: left">
            <label for="email">Email</label>
            <input type="text" asp-for="Email" class="form-control" placeholder="Digite o email">
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div class="form-group" style="width: 300px; text-align: left">
            <label for="perfil">Perfil</label>
            <br />
            <select asp-for="Perfil" class="form-control">
                <option value="">Selecionar</option>
                <option value="@PerfilEnum.Administrador">Administrador</option>
                <option value="@PerfilEnum.Padrao">Padrão</option>
            </select>
            @Html.ValidationMessageFor(x => x.Perfil)
        </div>
        <div class="form-group" style="width: 300px; text-align: left">
            <label for="senha">Senha</label>
            <input type="password" asp-for="Senha" class="form-control" placeholder="Digite o senha">
            @Html.ValidationMessageFor(x => x.Senha)
        </div>
    </center>
        
    <br />
    <center>
        <button id="click" type="submit" class="btn btn-primary">Adicionar</button>&nbsp; &nbsp;
        <a class="btn btn-secondary" role="button" asp-controller="Usuario" asp-action="Index">Voltar</a>
    </center>

    <script>
        $('#click').on('click', function () {

            Swal.fire({
                position: 'top-center',
                icon: 'success',
                title: 'Usuario salvo!',
                showConfirmButton: false,
                timer: 9999999988888,
            })
        })
    </script>
    <script>
        $('#click2').on('click', function () {

            Swal.fire({
                position: 'top-center',
                icon: 'error',
                title: 'Preencha os campos!',
                showConfirmButton: false,
                timer: 9999999988888,
            })
        })
    </script>

</form>

