@model List<UsuarioModel>

@{
    ViewData["Title"] = "Usuários";
}
<br />
<div>
    <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Criar" role="button"><i class="fa fa-plus"></i></a>
</div>
<br />

<div class="text-center">

    <h1>@ViewData["Title"]</h1>
    <br />
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
        <br />
    }
    <table class="table table-primary table-striped" id="tabela-usuarios">
        <thead>
            <tr>
                <th class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#</th>
                <th class="text-center">Nome</th>
                <th class="text-center">Login</th>
                <th class="text-center">Email</th>
                <th class="text-center">Perfil</th>
                <th class="text-center">Total de contatos</th>
                <th class="text-center">Data de cadastro</th>
                <th class="text-center">Editar / Excluir</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (UsuarioModel usuario in Model)
                {
                    <tr>
                        <th scope="row">@usuario.Id</th>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.Email</td>
                        <td>@(usuario.Perfil == CadastroContatos.Enums.PerfilEnum.Administrador ? "Administrador" : "Padrão")</td>
                        <td>
                            <a href="javascript:" usuario-id="@usuario.Id" class="btn btn-success btn-sm btn-total-contatos">
                                @(usuario.Contatos != null && usuario.Contatos.Any() ? usuario.Contatos.Count() : 0)
                            </a>
                        </td>
                        <td>@usuario.DataCadastro</td>
                        <td>
                            <div>
                                <a role="button" class="btn btn-secondary" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Editar"><i class="fa fa-pencil"></i></a>
                                <a role="button" class="btn btn-secondary" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Excluir"><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


    <div id="modalContatosUsuario" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Listagem de contatos</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">

                    <div id="listaContatoUsuario"></div>

                </div>
            </div>
        </div>
    </div>


</div>

